@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.modal {
    padding: 1rem;

    &__form {
        padding: 2rem;
    }

    &__title {
        text-align: center;
        font-variation-settings: "wght" 500;
    }

    &__button-container {
        display: flex;
        justify-content: flex-end;
    }

    &__button {
        @include button-style;

        &:hover {
            @include button-style-hover;
        }
    }
}